@use "config";
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}


#regBG {
  background: url("assets/Register/bg.jpg") no-repeat center center/cover;
}

#regInput {
  figure img {
    width: 200px;
    height: 180px;
  }
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.custom-text {
  &-register {
    font-size: 12px;
  }
  &-login {
    font-size: 14px;
    font-weight: 400;
  }
}

#dashboard-main {
  background: url('assets/testbg.svg') no-repeat center center/cover;
}